/* color guide 

#5daf78 - sea green
#59896F - fern-green
#3F737F - blue-green
#212223 - dark gray
#464749 - gray

*/

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

html {
	font-size: 50%;
}

body {
	font-family: verdana, arial, sans-serif;
	color: #212223;
	padding: 20rem 0 0 0;
	z-index: 0;
	font-size: 1.6rem;

	box-sizing: border-box;
}


.card img {
	margin: auto;
	display: inline-block;
	width: 60rem;

}

.card-text {
	width: 60rem;

}

.WandH{
	width: 30%;
	height: 30rem;
}

h1 {
	font-size: 5rem;
	text-transform: uppercase;
}

h2 {
	font-size: 4rem;
}

h3 {
	color: #59896F;
	font-size: 3rem;
}

p {
	font-size: 2.5rem;
	color: #5e5d5b;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.row-content {
	margin: 0px auto;
	padding: 5rem 0 5rem 0;
	min-height: 40rem;
}

/* navigation menu */

.nav-bkgrnd {
	background-color: #d6d0c9;
	position: fixed;
	margin: -20rem 0 0 0;
	width: 100%;
	z-index: 1;
}

.navbar-brand {
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	50% {

	}

	100% {
		opacity: 1;
	}
}

.navbar-toggler-icon{
	background-color: none;
	color: #3F737F;
	border-style: none;
}

.nav-bkgrnd a {
	color: #f9f8f7;
}

.nav-link {
	font-size: 3rem;
	padding-right: 2rem;
}

/* nav animation */

.nav-link:hover{
	color: #f2ab00;
	text-decoration: none;
}


.active a span{
	text-transform: lowercase;
	color: white;
	padding: 1.5rem 0;
	box-shadow: inset 0px -5px 0px #f2ab00;
}

/* Header */

header {
	text-align: left;
	background-size: cover;
}

.row-header {
	margin: 0 0 6rem 0;
	padding: 0px auto;
	min-height: 20rem;
	padding: 15rem 0 2rem 0;
}

.jumbotron {
	padding: 2rem 3rem 7rem 3rem;
	margin: 0 auto;
	background-color: #3F697F;
	background-size: cover;
	background-image: url(fern-1250903_crop.jpg);
	color: white;	
}

.jumbotron h1{
	font-weight: bolder;
	letter-spacing: .5rem;
}




/*responsive screens 
@media screen and (max-width: 480px){

	body {
		padding: 0px 0px 0px 0px;
	}
	.navbar {
		position: fixed;
		top: 0;
		width: 100%;
		height: 110px;
		z-index: 1;

	}

	.navbar-toggler-icon {
		font-size: 40px;
		background-color: #464749;
	}

	.navbar-dark {
		background-color: #59896F;
	}

	.navbar-brand img{
		height: 100px;
		z-index: 1; 
	}
}*/

.icon {
	color: #afadaa;
	padding: 0 0 2rem 0;
}

.icon:hover {
	color: #f2ab00;
}


.headshot {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	height: 40rem;
	border-radius: 20rem;

}

.box{
	
	margin: 0 8rem 8rem 0;
	/*-moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 150px; 
    rgba(214, 208, 201, 0.3)

	box-shadow: 10px 10px 5px #888888;*/
    height: 40rem;
    width: 45rem;
	font-size: 2.5rem;
	background-color: ;
	text-align: center;
	align-content: center;
	padding: 10rem;
}

.box:hover{
	box-shadow: 1rem #f2ab00;

}

.vertical-text{
	transform: rotate(-90deg);
	transform-origin: left top 0;
}

.projects a {
	color: white;
	text-decoration: none;
}

.projects:hover{
	background-color: #FFFFFF;
	color: #5daf78;
	text-decoration-line: none;
}

/* card styles */

.card-title {
	font-weight: bolder;
	font-size: 6rem;
}

.card-subtitle {
	font-style: ;
	font-weight: bold;
	font-size: 3rem;
}

.card-link {
	color: #59896F;
	font-size: 3rem;
	font-weight: bold;
}

.card-link:hover {
	border-bottom: 2px solid #afadaa;
}

.card-text {
	font-size: 30px;
}

/* contact form */

form input{
	display: block;
}

.input {
	width: 100%;
}

form input[name=MESSAGE] {
	height: 150px;
}

.button {
	background-color: white;
	margin-top: 20px 0;
	border-style: none;
}

.button:hover {
	border-style-bottom: 2px solid #f2ab00;
}

/* footer */

.footer {
	margin: 0px auto;
	padding: 100px 0px 0px 0px;
	color: #afadaa;
	background-color: #f9f8f7;
	line-height: 250%;
}

/*#59896F
#262728
#3b5e4b
#212223
#e8e5e1;
text #9a9c9e*/

footer a {
	text-decoration: none;
	color: #afadaa; 
	font-size: x-large;
}

footer a:hover{
	color: #f2ab00;
	text-decoration: none;
}

.social li a{
	color: #f2ab00;
}

.social li a:hover{
	color: #afadaa;
}

.bottom-footer{
	overflow-x: hidden;
	margin: 80px -200px -200px -200px;
	padding: 0px 200px;
	background-color: #d6d0c9;
	max-height: inherit;
	
}


#hidden {
	display: none;
}

.visible {
	display: initial;
}








